:root {
	--col-main: #AA8888;
	--col-bgr: #AAA;
}

html {
	max-width: 800px;
	overflow-x: hidden;
	text-align:center;
}

body {
	width: 100%;
	position: fixed;
	top: 100px;
	background-color: var(--col-brg);
	display: flex;
	justify-content: center;
}

h1 {
	margin: 0px;
	padding: 0px;
}

/* HEADER */
#header-container {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--col-main);
}

#header-text {
	color: white;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	color: lightblue;
}

/* BODY */
.body-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}

/* FOOTER */
#footer-container {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 5%;
	min-height: 30px;
	position:fixed;
	bottom:0;
	left:0;
	background-color: var(--col-main);
}

#footer-text {
	margin: auto;
	color: white;
}
