/* CD BUILDER */
#form-container {
	width: 600px;
	height: 550px;
	margin: 0px;
	padding: 0px;
	background-color:rgb(248,248,244);
}

#input-container {
	margin: 0px;
	width: 100%;
	padding: 0px;
}

#input-top {
	margin: auto;
	height: 400px;
	padding: 0px;
	float: top;
}

#input-numGuests {
	width: 50px;
}

#display-bottom {
	border-width: 3px;
	margin: auto;
	height: 150px;
	padding: 0px;
	float: bottom;
	background-color: lightblue;
}

#item-list {
	background-color: red;
	padding: 10px;
}

#input-item {
	margin: 5px;
}
